body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #1e90ff;
}

.calculator {
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#display {
    width: 93%;
    padding: 10px;
    font-size: 1.5em;
    text-align: left;
    border: none;
    outline: none;
    border-radius: 5px 5px 0 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid grey;
}

button:hover {
    background-color: orangered;
    color: white;
}

button:active {
    background-color: #d9d9d9;
}